@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import 'src/colors';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.PhaseWrapper {
  width: 28vw;
  font-size: 14px;
  border: 1px solid $black;
  border-radius: 10px;
  background: $light-gray;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  margin: 30px
}

.Button {
  border: 0;
  background: $button-color;
  border-radius: 5px;
  padding: 8px 16px;
  font-size: 12px;
}
